// utils //
@import './utils/variables';

// base //
@import './base/common';
@import './base/conteiner';

// components //
@import './components/header';
@import './components/logo';
@import './components/modal';
@import './components/form';
@import './components/button';
@import './components/cosial-icon';
@import './components/footer';

// layouts //
@import './layouts/hero';
@import './layouts/advanteg';
@import './layouts/do';
@import './layouts/team';
@import './layouts/partners';
@import './layouts/project';
    
