/*основной цвет текста и телефона #757575*/
/*основной tecxt #212121*/
/*основной цвет фона secshen #E5E5E5*/
/*цвет заголовка в герое h1 #FFFFFF*/
/*цвет ссілок и кнопок (єл.адеса) #2196F3*/
/*цвет фона футера и хыда #2F303A*/
/* цвет серого фона #F5F4FA*/
/**/
:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-text: #2196F3;
    --herotitle: #FFFFFF;
    --bgr-color: #FFFFFF;

}