
       /*Progect*/
       .project-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;    
    
        &_item {   
        
            width: 370px;
            height: 398px;
            margin-left: 0;
            margin-right: 30px;
            margin-bottom: 30px;     
            
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 250ms;
        }
        &_item:nth-child(3n) {
            margin-right: 0px;
        }
        &_item:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
        &_item:hover, &_item:focus {
                box-shadow: 0px 4px 4px 0px #00000040;
        }
        &_item:hover .poster-text-hover {
            transform: translateY(0%); 
        }
    }        
    .bloc {
        display: block;
        width: 370px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 24px;
        padding-left: 24px;
        border: 1px solid #EEEEEE ;;
    
        &__title {
            margin-bottom: 4px;
            margin-top: 0px;
        
            color: var(--primary-text-color);
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
        }
        &__text {
            margin: 0;
        color: var(--text-color);
            font-size: 16px;
            line-height: 1.88;
        }
}
    .action {
       position: relative;
        width: 370px;
        height: 295px;  
        overflow: hidden;
    }
    .poster-text-hover {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
    
        padding-top: 63px;
        padding-bottom: 63px;
        padding-left: 24px;
        padding-right: 24px;
    
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;    
        text-align: left;
        color: var(--bgr-color);
    
        transform: translateY(100%);  
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }
 